html,
.block-editor__container .editor-styles-wrapper {
    --e-global-color-primary: #0971ec;
    --e-global-color-secondary: #4c556c;
    --e-global-color-text: #ffffff;
    --e-global-color-title: #ffffff;
    --e-global-color-accent: #f89721;
    --e-global-color-white: #ffffff;

    --e-global-color-bg-light: #ecf5ff;
    --e-global-color-bg-dark: #202036;

    --font-family-text: 'Inter';
}
